<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="color: limegreen;">Del Valle </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#Productos">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#AyudaaRefugiosamigos">Ayuda a Refugios amigos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#Nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#Contactanos">Contactanos</a>
            </li>
        </ul>
    </div>
  <a href="/admin/login" class="btn btn-primary">Iniciar sesión<i
                        class="fas fa-sign-out-alt"></i></a>
    <img src="images/Logo del valle.jpg" alt="" width="110" height="45" style="margin-right: 10px;">
</nav>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" data-scroll href="#Inicio">
        <div class="carousel-item active">
            <img src="images/foto n1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/foto n3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/foto nro3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>


<div class="container-fluid">
    <div id="Productos" class="row py-4">
        <div class="col-md-5 offset-md2 py-3">
            <h2 style="margin-top: 50px">Que tenemos?</h2>
            <ul class="lista-que-tenemos">
                <li><a href="#" data-toggle="modal" data-target="exampleModal"><img src="images/perro adulto.jfif" alt="">Alimento para perros</a></li>
            </ul>
            <ul class="lista-que-tenemos">
                <li><a href="#"><img src="images/gato-rojo-o-blanco-i-estudio-blanco_155003-13189.webp" alt="">Alimento
                        para gatos</a></li>
            </ul>
            <ul class="lista-que-tenemos">
                <li><a href="#"><img src="images/Hueso-7-8.png" alt="">Accesorios</a></li>
            </ul>

        </div>
    </div>
</div>
<h6 id="AyudaaRefugiosamigos">.</h6>
<h2 style="margin-top: 100px;">Ayuda a Refugios amigos</h2>
<h5 style="margin-top: 30px;">Como podes colaborar?</h5>
<p class="col-md-5 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quaerat ab tempora mollitia
    quibusdam. Aliquid,
    pariatur vero. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum minima consequuntur tempore quia
    neque asperiores, odit animi laborum facere doloremque id recusandae sapiente quisquam quis ullam et voluptatem
    ipsam laboriosam?</p>
<h5 style="margin-top: 30px;">Ubicacion</h5>
<p>AYOLAS 3489</p>
<h5 style="margin-top: 30px;">tel:2235485848</h5>

<h2 style="margin-top: 170px;" id="Nosotros">Nosotros</h2>

<div class="card-group">
    <div class="card">
        <img src="images/feliz-optimista-guapo-gerente-ventas-latina-apuntando-lado-mirando-camara_1262-12679.webp"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card">
        <img src="images/joven-confiado_1098-20868.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card">
        <img src="images/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.webp" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
</div>

<div id="Contactanos" class="row py-2">
    <div class="col-md-5 offset-md-1">
        <h2 style="display: 400px;">Visitanos</h2>
        <div class="embed-responsive embed-responsive-16y9">
            <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.8985021956705!2d-57.58004868449007!3d-38.00282785265883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584deca4595155d%3A0xc9216c35303ff840!2sRodr%C3%ADguez%20Pe%C3%B1a%204599%2C%20B7600%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1654203115803!5m2!1ses!2sar"
                style="border:0; height: 300px;"></iframe>
        </div>
    </div>
    <div class="col-md-3 mt-4 mt-sm-0">
        <h2>Contactanos</h2>
        <form action="/" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellido">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="ejempolo@gmail.com" name="email">
                </div>
                <div class="form-group">
                    <label for="tel">Tel</label>
                    <input type="text" class="form-control" id="tel" placeholder="Tel..." name="tel">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4" placeholder="Mensaje" name="mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>


<footer>
    <p class="text-center">Diseñado por: Nicolas Mascia 2022</p>
</footer>